{% extends "base.html" %}

{% block content %}


<h1>Team Historical Statistics</h1>
<h3>For now, it's just the Brewers.</h3>
<form>
    <label for="player1">Choose a statistic:</label>
    <select id="stat" name="stat">
      <option></option>
      <option value="W">Wins</option>
      <option value="L">Losses</option>
      <option value="W-L%">Win/Loss percentage</option>
      <option value="Attendance">Attendance</option>
    </select>
    <input type="submit">
</form>

<embed type="image/svg+xml" src="{{ chart }}" />
{% endblock content %}