{% extends "base.html" %}

{% block content %}


<h1>Baseball stats: Milwaukee Brewers, 2020</h1>
<table id="seasonStatTable" class="table">
    <thead class="thead-light">
      <tr>
        {% for item in header %}
            <th onclick="sortTable( `{{ forloop.counter0 }}` )" scope="col">{{ item }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
        {% for row in rows %}
      <tr>
        {% for item in row %}
        <td>{{ item }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% load static %}
  <script src="{% static 'js/season_table_sort.js' %}"></script>
  

{% endblock content %}